<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="etcomm.com.etcommyolk">

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TOP_ACTIVITyINFO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <!-- 自定义权限 -->
    <uses-permission android:name="getui.permission.GetuiService.com.etcomm.dcare" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <!-- 蓝牙分享所需的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- 分享相关权限 -->

    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <application
        android:name=".EtcommApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 服务器根地址域名 -->
        <meta-data
            android:name="serverDoMain"
            android:value="${serverDoMain}" />

        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.BaseActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.PointsExchangeActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.MyExchangeActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.MyPointsDetailActivity"
            android:launchMode="singleTop" />
        <activity android:name=".activity.MineActivity" />
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".activity.PointsColleketDetailActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.WebviewDetailActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MoreSportsActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.LostPwdActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".activity.ForgotPasswordActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".activity.RegisterActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".zxing.activity.CaptureActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ChoosePictureActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity android:name=".activity.TargetActivity" />
        <activity android:name=".activity.PersonalProfileActivity" />
        <activity
            android:name=".activity.MoreHealthActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.MoreWealfeActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.SearchHealthNewsActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".activity.SearchGroupActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".activity.TopicDisscussListActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.AddNewTopicActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.SettingActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.SettingPersonalDataActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.ChangeNickNameActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.SelectSexPopupWindowActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyleBottom" />
        <activity
            android:name=".activity.ChangePasswordActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.AboutUsActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.MsgSettingActivity"
            android:launchMode="singleTop" />
        <activity android:name=".activity.MyAccountActivity" />
        <activity android:name=".activity.MineFeedBackActivity" />
        <activity android:name=".activity.MyCollectionActivity" />
        <activity android:name=".activity.ActivityRanktActivity" />
        <activity
            android:name=".activity.SelectPicPopupWindowActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyleBottom" />
        <activity android:name=".activity.AddTopicDisscussActivity" />
        <activity android:name=".activity.DisscussConentListActivity" />
        <activity
            android:name=".activity.TopicReportPopActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyleBottom" />
        <activity android:name=".activity.TopicMemberActivity" />
        <activity android:name=".activity.TopicDisscussReportActivity" />
        <activity
            android:name=".activity.TopicDiscussSettingActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyleBottom" />
        <activity android:name=".activity.SharetoGroupActivity" />
        <activity android:name=".activity.SportDetailActivity" />
        <activity android:name=".activity.ExamineReportActivity" />
        <activity android:name=".activity.TopicWebviewlActivity" />

        <!-- 设置友盟分享的id -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="586b4e15aed17943a3001bd8"></meta-data>


        <!-- 个推SDK配置开始 -->
        <!-- 配置的个推key -->
        <meta-data
            android:name="PUSH_APPID"
            android:value="${PUSH_APPID}" />
        <meta-data
            android:name="PUSH_APPKEY"
            android:value="${PUSH_APPKEY}" />
        <meta-data
            android:name="PUSH_APPSECRET"
            android:value="${PUSH_APPSECRET}" />

        <!-- 配置第三方Receiver -->
        <receiver
            android:name=".service.PushDcareReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.igexin.sdk.action.${PUSH_APPID}" />
            </intent-filter>
        </receiver>
        <!-- 配置SDK核心服务 -->
        <service
            android:name="com.igexin.sdk.PushService"
            android:exported="true"
            android:label="NotificationCenter"
            android:process=":pushservice"></service>

        <receiver android:name="com.igexin.sdk.PushReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="com.igexin.sdk.action.refreshls" />
                <!-- 以下四项为可选的action声明，可大大提高service存活率和消息到达速度 -->
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.igexin.sdk.PushManagerReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.igexin.sdk.action.pushmanager" />
            </intent-filter>
        </receiver>

        <provider
            android:name="com.igexin.download.DownloadProvider"
            android:authorities="downloads.cn.com.zhaoshuikan.bdhospital"
            android:exported="true"
            android:process=":pushservice" />

        <service
            android:name="com.igexin.download.DownloadService"
            android:process=":pushservice" />

        <receiver android:name="com.igexin.download.DownloadReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.igexin.getuiext.service.PayloadReceiver"
            android:exported="false">
            <intent-filter>

                <!-- 这个com.igexin.sdk.action.7fjUl2Z3LH6xYy7NQK4ni4固定，不能修改 -->
                <action android:name="com.igexin.sdk.action.7fjUl2Z3LH6xYy7NQK4ni4" />
                <!-- android:name="com.igexin.sdk.action.第三方的appId" -->
                <action android:name="com.igexin.sdk.action.${PUSH_APPID}" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.igexin.getuiext.service.GetuiExtService"
            android:process=":pushservice" />
        <!-- 个推SDK配置结束 -->
        <activity android:name=".activity.MineSportsActivity" />
        <activity android:name=".activity.MyAccountNextActivity" />
        <activity android:name=".activity.MyAccountFinalActivity" />
        <activity android:name=".activity.RankActivity" />
        <activity android:name=".activity.PedometerActivity" />
        <activity android:name=".activity.MineDeviceActivity" />
        <activity
            android:name=".activity.TrendRecordActivity"
            android:label="@string/title_activity_trend_record"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name=".service.StepDataUploadService" />
        <service android:name=".service.BluetoothService" />

        <activity android:name=".activity.MsgListActivity" />
        <activity android:name=".activity.MainActivity" />

    </application>

</manifest>
