<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="etcomm.com.etcommyolk">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".EtcommApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 服务器根地址域名 -->
        <meta-data
            android:name="serverDoMain"
            android:value="${serverDoMain}" />

        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.BaseActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.PointsExchangeActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.MyExchangeActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.MyPointsDetailActivity"
            android:launchMode="singleTop" />
        <activity android:name=".activity.MineActivity" />
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".activity.PointsColleketDetailActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.WebviewDetailActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MoreSportsActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.MoreHealthActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.MoreWealfeActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.SearchHealthNewsActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".activity.SearchGroupActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity android:name=".activity.TopicDisscussListActivity" />
        <activity android:name=".activity.AddNewTopicActivity"></activity>
    </application>

</manifest>
